:root {
    --primery-font:  'Roboto', sans-serif; 
    --secondary-font:  'Raleway', sans-serif;
    --primery-text-color: #2E2F42; /* NAVY BLUE */
    --secondary-text-color: #434455; /* SLATE */
    --tertiary-text-color: #4D5AE5; /* IRIS */
    --accent-color: #FFFFFF;
    --primery-link-color: #404BBF;
    --backgrounds-color: #F4F4FD;
    --cornflower-color: #E7E9FC;
    --backgrounds-accent-color: #31D0AA;
}

p, h1, h2, h3, h4, h5, h6 {
    margin: 0;
}

ul {
    margin: 0;
    padding-left: 0;
}

img {
    display: block;
    width: 100%;
    height: auto;
}

body {
    font-family: var(--primery-font);
    color: var(--primery-text-color);
    background-color: var(--accent-color);
}

.list {
    list-style: none;
} 

.link {
    text-decoration: none;
}

.no-scroll {
    overflow: hidden;
}

.container {
    padding-left: 15px;
    padding-right: 15px;
}

.header-container {
    display: flex;
    align-items: center;
    justify-content: space-between;
}

.header {
    border-bottom: 1px solid var(--cornflower-color);
}

.header-logo {
    font-family: var(--secondary-font);
    font-weight: 800;
    font-size: 18px;
    line-height: 1.33;
    display: flex;
    align-items: center;
    letter-spacing: 0.03em;
    text-transform: uppercase;
    color: var(--tertiary-text-color);
    margin-right: 76px;
    padding-top: 24px;
    padding-bottom: 24px;
}

.header-logo-color {
    color: var(--primery-text-color);
}

.mobile-menu-soc-list {
    display: flex;
    gap: 24px;
}

.mobile-menu-tel {
    font-style: normal;
    font-weight: 700;
    font-size: 26px;
    line-height: 1.11;
    letter-spacing: 0.02em;
    text-transform: capitalize;
    color: #4D5AE5;
}

.hero {
    background: var(--primery-text-color);
    padding: 112px 0;
    background-image: linear-gradient(
        rgba(46, 47, 66, 0.7),
        rgba(46, 47, 66, 0.7)
        ),
    url(../images/hero-bg/hero-bg-mob-1x.jpg);
    background-repeat: no-repeat;
    background-position: center;
    background-size: cover;
    margin: 0 auto;
}

@media (min-device-pixel-ratio: 2),
  (min-resolution: 192dpi),
  (min-resolution: 2dppx) {
  .hero {
    background-image: linear-gradient(
        rgba(46, 47, 66, 0.7),
        rgba(46, 47, 66, 0.7)
        ), url(../images/hero-bg/hero-bg-mob-2x.jpg);
  }
}

.hero-title {
    max-width: 320px;
    font-weight: 700;
    font-size: 32px;
    line-height: 1.11;
    text-align: center;
    margin-left: auto;
    margin-right: auto;
    letter-spacing: 0.02em;
    text-transform: capitalize;
    color: #FFFFFF;
    margin-bottom: 72px;
}

.hero-btn {
    font-family: var(--primery-font);
    font-weight: 500;
    font-size: 16px;
    line-height: 1.5;
    display: flex;
    align-items: center;
    letter-spacing: 0.04em;
    cursor: pointer;
    color: var(--accent-color);
    background: var(--tertiary-text-color);
    border: none;
    padding: 16px 32px;
    border-radius: 4px;
    display: block;
    margin: 0 auto;
    transition: background 250ms cubic-bezier(0.4, 0, 0.2, 1);
}

.hero-btn:hover,
.hero-btn:focus {
    background: var(--primery-link-color);
}

.advantages {
    padding-top: 96px;
    padding-bottom: 96px;
    width: 100%;
}

.visually-hidden {
    position: absolute;
    width: 1px;
    height: 1px;
    margin: -1px;
    border: 0;
    padding: 0;
    
    white-space: nowrap;
    clip-path: inset(100%);
    clip: rect(0 0 0 0);
    overflow: hidden;
}

.advantages-item:not(:last-child) {
    margin-bottom: 72px;
}

.advantages-subtitle {
    text-align: center;
    font-weight: 700;
    font-size: 36px;
    line-height: 1.11;
    letter-spacing: 0.02em;
    color: var(--primery-text-color); 
    margin-bottom: 8px; 
}

.advantages-text {
    font-weight: 500;
    font-size: 16px;
    line-height: 1.5;
    letter-spacing: 0.02em;
    color: var(--secondary-text-color);
}

.team {
    background: var(--backgrounds-color);
    padding: 96px 0;
}

.team-title {
    font-weight: 700;
    font-size: 36px;
    line-height: 1.11;
    text-align: center;
    letter-spacing: 0.02em;
    text-transform: capitalize;
    color: var(--primery-text-color);
    margin-bottom: 72px;
}

.team-list {
    display: flex;
    gap: 72px;
    flex-wrap: wrap;
    align-items: center;
    justify-content: center;
}

.team-item {
    width: 264px;
    background: var(--accent-color);
    box-shadow: 0px 1px 6px rgba(46, 47, 66, 0.08), 0px 1px 1px rgba(46, 47, 66, 0.16), 0px 2px 1px rgba(46, 47, 66, 0.08);
    border-radius: 0px 0px 4px 4px;
}

.profile {
    padding-top: 32px;
    padding-bottom: 32px;
    text-align: center;
}

.team-subtitle {
    font-weight: 500;
    font-size: 20px;
    line-height: 1.2;
    letter-spacing: 0.02em;
    color: var(--primery-text-color);
    margin-bottom: 8px;
}

.team-text {
    line-height: 1.5;
    letter-spacing: 0.02em;
    color: var(--secondary-text-color);
    margin-bottom: 8px;
}

.team-soc-list {
    display: flex;
    justify-content: center;
    gap: 24px;
}

.team-soc-item {
    width: 40px;
    height: 40px;
}

.team-soc-link {
    width: 100%;
    height: 100%;
    background: var(--tertiary-text-color);
    display: flex;
    align-items: center;
    justify-content: center;
    border-radius: 50%;
    transition: background 250ms cubic-bezier(0.4, 0, 0.2, 1);
}

.team-soc-icon {
    fill: var(--backgrounds-color);
}

.team-soc-link:hover,
.team-soc-link:focus {
    background: var(--primery-link-color);
} 

.customers {
    padding: 96px 0;
}

.customers-title {
    font-weight: 700;
    font-size: 36px;
    line-height: 1.11;
    text-align: center;
    letter-spacing: 0.02em;
    text-transform: capitalize;
    color: var(--primery-text-color);
    margin-bottom: 72px;
}

.customers-list {
    display: flex;
    flex-wrap: wrap;
    gap: 24px;
    align-items: center;
    justify-content: center;
}

.customers-item {
    height: 88px;
    flex-basis: calc((100% - 30px)/2);
}

.customers-link {
    width: 100%;
    height: 100%;
    display: flex;
    align-items: center;
    justify-content: center;
    border: 1px solid #8E8F99;
    border-radius: 4px;
    transition: border-color 250ms cubic-bezier(0.4, 0, 0.2, 1);
}

.customers-icon {
    fill: #8E8F99;
    transition: fill 250ms cubic-bezier(0.4, 0, 0.2, 1);
}

.customers-link:is(:hover, :focus) {
    border-color: var(--primery-link-color);
}

.customers-link:is(:hover, :focus) .customers-icon {
    fill: var(--primery-link-color);
} 

.footer {
    background: var(--primery-text-color);
    padding: 96px 0;
}

.footer-logo {
    font-family: var(--secondary-font);
    font-style: normal;
    font-weight: 800;
    font-size: 18px;
    line-height: 1.17;
    display: flex;
    align-items: center;
    justify-content: center;
    letter-spacing: 0.03em;
    text-transform: uppercase;
    color: var(--tertiary-text-color);
    margin-bottom: 16px;
}

.footer-logo-color {
    color: var(--backgrounds-color);
}

.footer-text {
    line-height: 1.5;
    letter-spacing: 0.02em;
    color: var(--cornflower-color);
    text-align: center;
    width: 268px;
}

.footer-wrap {
    display: flex;
    flex-direction: column;
    align-items: center;
    justify-content: center;
    gap: 72px;
}

/* .footer-wrap > div {
    outline: solid red;
} */

.footer-soc-title {
    line-height: 1.5;
    letter-spacing: 0.02em;
    color: var(--accent-color);
    margin-bottom: 16px;
    font-weight: 500;
    text-align: center;
}

.footer-soc-list {
    display: flex;
    flex-direction: row;
    gap: 16px;
}

.footer-soc-item {
    width: 40px;
    height: 40px;
}

.footer-soc-link {
    width: 100%;
    height: 100%;
    display: flex;
    background: hsla(0, 0%, 100%, 0.1);
    border-radius: 50%;
    align-items: center;
    justify-content: center;
    transition: background 250ms cubic-bezier(0.4, 0, 0.2, 1);
}

.footer-soc-link:hover,
.footer-soc-link:focus {
    background: var(--backgrounds-accent-color);
}

.footer-soc-link {
    fill: var(--backgrounds-color);
}

.subscribe-title {
    font-weight: 500;
    line-height: 1.5;
    letter-spacing: 0.02em;
    color: var(--accent-color);
    margin-bottom: 16px;
    text-align: center;
}

.subscribe-input {
    width: 264px;
    height: 40px;
    border: 1px solid var(--accent-color);
    filter: drop-shadow(0px 4px 4px rgba(0, 0, 0, 0.15));
    border-radius: 4px;
    background-color: transparent;
    font-weight: 400;
    font-size: 12px;
    line-height: 2;    
    letter-spacing: 0.04em;
    color: var(--accent-color);
    padding: 8px 16px;
    margin-bottom: 16px;
}

.subscribe-input::placeholder {
    color: var(--accent-color);
}

.subscribe-btn {
    display: flex; 
    gap: 16px;
    align-items: center;
    justify-content: center;
    font-weight: 500;
    font-size: 16px;
    line-height: 1.5;
    letter-spacing: 0.04em;
    color: var(--accent-color);
    margin-left: 24px;
    width: 165px;
    height: 40px;
    background: var(--tertiary-text-color);
    box-shadow: 0px 4px 4px rgba(0, 0, 0, 0.15);
    border-radius: 4px;
    cursor: pointer;
    border: none;
    margin: 0 auto;
    transition: background 250ms cubic-bezier(0.4, 0, 0.2, 1);
}

.subscribe-btn:hover,
.subscribe-btn:focus {
    background: var(--primery-link-color);
}

.subscribe-icon {
    fill: var(--accent-color);
}

.backdrop {
    position: fixed;
    top: 0;
    width: 100%;
    height: 100%;
    background: rgba(46, 47, 66, 0.4);
    transition: opacity 250ms cubic-bezier(0.4, 0, 0.2, 1), visibility 250ms cubic-bezier(0.4, 0, 0.2, 1);
}

.modal {
    position: absolute;
    top: 50%;
    left: 50%;
    transform: translate(-50%, -50%) scaleY(1);
    width: 100%;
    min-height: auto;
    max-width: 382px;
    background: rgba(252, 252, 252, 1);
    box-shadow: 0px 1px 1px rgba(0, 0, 0, 0.14), 0px 1px 3px rgba(0, 0, 0, 0.12), 0px 2px 1px rgba(0, 0, 0, 0.2);
    border-radius: 4px;
    transition: transform 250ms cubic-bezier(0.4, 0, 0.2, 1);
    padding: 24px;
}

.backdrop.is-hidden .modal {
    transform: translate(-50%, -50%) scaleY(0);
}

.modal-close {
    display: flex;
    align-items: center;
    justify-content: center;
    margin-left: auto;
    width: 24px;
    height: 24px;
    border-radius: 50%;
    background: var(--cornflower-color);
    border: 1px solid rgba(0, 0, 0, 0.1);
    cursor: pointer;
    transition: background 250ms cubic-bezier(0.4, 0, 0.2, 1);
}

.modal-close-icon {
    fill: var(--primery-text-color);
    transition: fill 250ms cubic-bezier(0.4, 0, 0.2, 1);
}

.modal-close:is(:hover, :focus) {
    background-color: var(--primery-link-color);
}

.modal-close:is(:hover, :focus) .modal-close-icon {
    fill: var(--accent-color);
}

.modal-close {
    display: block;
    margin-left: auto;
}
.is-hidden {
    opacity: 0;
    pointer-events: none;
    visibility: hidden;
}

.modal-title {
    font-weight: 500;
    line-height: 1.5;
    text-align: center;
    letter-spacing: 0.02em;
    color: var(--primery-text-color);
    margin-top: 24px;
    margin-bottom: 16px;
}
.modal-input {
    width: 100%;
    height: 40px;
    border: 1px solid rgba(33, 33, 33, 0.2);
    border-radius: 4px;
    background-color: transparent;
    padding-left: 38px;
    outline: none;
    transition: border-color 250ms cubic-bezier(0.4, 0, 0.2, 1);
}

.input-text {
    display: block;
    font-size: 12px;
    line-height: 1.17;
    letter-spacing: 0.04em;
    color: #8E8F99;
    margin-bottom: 4px;
}

.modal-field {
    margin-bottom: 8px;
}

.input-wrap {
    position: relative;
}

.modal-icon {
    position: absolute;
    left: 16px;
    top: 50%;
    transform: translateY(-50%);
}

.modal-icon {
    fill: var(--primery-text-color);
    transition: fill 250ms cubic-bezier(0.4, 0, 0.2, 1);
}

.modal-input:focus {
    border-color: rgba(77, 90, 229, 1);
}

.modal-input:focus + .modal-icon {
    fill: var(--tertiary-text-color);
}
.modal-textarea {
    display: block;
    width: 100%;
    height: 120px;
    padding: 8px 16px;
    margin-bottom: 16px;
    border: 1px solid rgba(33, 33, 33, 0.2);
    background-color: transparent;
    border-radius: 4px;
    font-weight: 400;
    font-size: 12px;
    line-height: 1.17;
    letter-spacing: 0.04em;
    color: rgba(46, 47, 66, 0.4);
    resize: none;
    outline: none;
}

.modal-textarea:focus {
    border-color: rgba(77, 90, 229, 1);
}

.check-text {
    font-size: 12px;
    line-height: 1.17;
    letter-spacing: 0.04em;
    color: #8E8F99;
    display: flex;
    align-items: center;
}

.check-link {
    margin-left: 4px;
    color: var(--tertiary-text-color);
}

.check-text span {
    width: 16px;
    height: 16px;
    border: 1px solid var(--primery-text-color);
    border-radius: 2px;
    margin-right: 8px;
    display: flex;
    align-items: center;
    justify-content: center;
    fill: transparent;
    transition: fill 250ms cubic-bezier(0.4, 0, 0.2, 1);
}

.input-check:checked + .check-text > span {
    background: var(--primery-link-color);
    border: none;
    fill: var(--backgrounds-color);
}

.modal-botton {
    width: 169px;
    height: 56px;
    display: block;
    margin: 0 auto;
    margin-top: 24px;
    font-family: inherit;
    font-weight: 500;
    font-size: 16px;
    line-height: 1.5;
    letter-spacing: 0.04em;
    color: var(--accent-color);
    background: var(--tertiary-text-color);
    box-shadow: 0px 4px 4px rgba(0, 0, 0, 0.15);
    border-radius: 4px;
    cursor: pointer;
    border: none;
    transition: background 250ms cubic-bezier(0.4, 0, 0.2, 1);
}

.modal-botton:hover,
.modal-botton:focus {
    background: var(--primery-link-color);
}

@media screen and (min-width: 480px) {
    .container {
        width: 396px;
        margin-left: auto;
        margin-right: auto;
    }

    .mobile-menu-tel {
        font-size: 36px;
    }

    .mobile-menu-soc-list {
        display: flex;
        gap: 56px;
    }

    .hero-title {
        font-size: 36px;
    }

    .modal {
        width: 382px;
        min-height: 586px;
        max-width: 479px;
    }
}

@media screen and (min-width: 768px) {
    .container {
        width: 736px;
    }
}

@media screen and (min-width: 1200px) {
    .container {
        width: 1158px;
    }
}

@media screen and (max-width: 767px) {
    .header-list {
        display: none;
    }
    
    .contact {
        display: none;
    }

    .mobile-menu-open {
        background-color: transparent;
        border: none;
        outline: none;
        padding: 0;
        width: 32px;
        height: 22px;
        /* border: 3px solid #2E2F42; */
        cursor: pointer;
    }
    
    .mobile-menu-open-icon {
        fill: #2E2F42;
    }
    
    .mobile-menu-container {
        position: relative;
        padding-top: 80px;
        padding-left: 40px;
        padding-bottom: 40px;
        display: flex;
        justify-content: space-between;
        flex-direction: column;
        overflow: auto;
        width: 100%;
        height: 100%;
    }

    .mobile-menu {
        position: fixed;
        width: 100vw;
        height: 100vh;
        z-index: 1000;
        top: 0;
        left: 0;
        background: #FFFFFF;
        box-shadow: 0px 2px 1px rgba(46, 47, 66, 0.08), 0px 1px 1px rgba(46, 47, 66, 0.16), 0px 1px 6px rgba(46, 47, 66, 0.08);
    }
    
    .mobile-menu-close {
        position: absolute;
        top: 24px;
        right: 65px;
        background-color: transparent;
        border: none;
        width: 24px;
        height: 24px;
        border-radius: 50%;
        background: var(--cornflower-color);
        /* opacity: 0.1; */
        border: 1px solid rgba(0, 0, 0, 0.1);
        cursor: pointer;
    }
    
    .mobile-menu-close-icon {
        fill: var(--primery-text-color);
    }
    
    .mobile-menu-close:is(:hover, :focus) {
        background-color: var(--primery-link-color);
    }
    
    .mobile-menu-close:is(:hover, :focus) .mobile-menu-close-icon {
        fill: var(--accent-color);
    }
    
    .mobile-menu-item:not(:last-child) {
        margin-bottom: 40px;
    }
    
    .mobile-menu-link {
        font-weight: 700;
        font-size: 36px;
        line-height: 1.11;
        letter-spacing: 0.02em;
        text-transform: capitalize;
        color: #2E2F42;
    }
    
    .mobile-menu-link:hover,
    .mobile-menu-link:focus {
        color: var(--primery-link-color);
    }
    
    .mobile-menu-mail {
        font-style: normal;
        font-weight: 500;
        font-size: 20px;
        line-height: 1.2;
        letter-spacing: 0.02em;
        color: #434455;
    }

    .mobile-menu-contact-item:not(:last-child) {
        margin-bottom: 40px;
    }
   
    .mobile-menu-soc-item {
        width: 40px;
        height: 40px;
        margin-top: 48px;
    }
    
    .mobile-menu-soc-link {
        width: 100%;
        height: 100%;
        display: flex;
        background: #4D5AE5;
        border-radius: 50%;
        align-items: center;
        justify-content: center;
        transition: background 250ms cubic-bezier(0.4, 0, 0.2, 1);
    }
    
    .mobile-menu-soc-icon {
        fill: #F4F4FD;
    }
    
    .mobile-menu-soc-link:hover,
    .mobile-menu-soc-link:focus {
        background: #404BBF;
    }
}

@media screen and (max-width: 1199px) {
    .advantages-link {
        display: none;
    }

    .examples {
        display: none;
    }
}

@media screen and (min-width: 768px) {
    .mobile-menu {
        display: none;
    }

    .mobile-menu-open {
        display: none;
    }

    .active::after {
        content: "";
        display: block;
        position: absolute;
        bottom: -1px;
        width: 100%;
        height: 4px;
        background: var(--primery-link-color);
        border-radius: 2px;
    }
    
    .header-link.active {
        color: var(--primery-link-color);
    }

    .header-navigation {
        display: flex;
        align-items: center;
    }

    .header-list {
        display: flex;
        align-items: center;
        gap: 40px;
    }

    .header-logo {
        margin-right: 120px;
    }

    .header-link {
        position: relative;
        font-style: normal;
        font-weight: 500;
        line-height: 1.5;
        letter-spacing: 0.02em;
        color: var(--primery-text-color);
        display: block;
        padding: 24px 0;
        transition: color 250ms cubic-bezier(0.4, 0, 0.2, 1);
    }
    
    .header-link:hover,
    .header-link:focus {
        color: var(--primery-link-color);
    }


    .contact-item:not(:last-child) {
        margin-bottom: 12px;
    }

    .contact-item {
        max-width: 768px;
    }

    .header-contact {
        font-size: 12px;
        line-height: 1.5;
        letter-spacing: 0.02em;
        color: var(--secondary-text-color);
        font-style: normal;
        transition: color 250ms cubic-bezier(0.4, 0, 0.2, 1);
    }
        
    .header-contact:hover,
    .header-contact:focus {
        color: var(--primery-link-color);
    } 

    .hero {
        background-image: linear-gradient(
            rgba(46, 47, 66, 0.7),
            rgba(46, 47, 66, 0.7)
            ),
        url(../images/hero-bg/hero-bg-tab-1x.jpg);
        max-width: 768px;
    }

    @media (min-device-pixel-ratio: 2),
      (min-resolution: 192dpi),
      (min-resolution: 2dppx) {
    .hero {
      background-image: linear-gradient(
        rgba(46, 47, 66, 0.7),
        rgba(46, 47, 66, 0.7)
        ), url(../images/hero-bg/hero-bg-tab-2x.jpg);
    }
    }

    .hero-title {
        max-width: 496px;
        margin-bottom: 32px;
        font-size: 56px;
        line-height: 1.07;
    }

    .advantages-list {
        display: flex;
        flex-wrap: wrap;
        justify-content: center;
        gap: 24px;
    }

    .advantages-item {
        flex-basis: calc((100% - 30px)/2);
    }

    .advantages-item:not(:last-child) {
        margin-bottom: 0;
    }

    .advantages-subtitle {
        text-align: left;
    }

    .team-list {
        gap: 24px;
    }

    .team-item {
        width: 264px;
    }

    .customers-item {
        flex-basis: calc((100% - 60px)/3);
    }

    .footer-wrap {
        display: flex;
        flex-direction: row;
        flex-wrap: wrap;
        justify-content: left;
        align-items: baseline;
        row-gap: 72px;
        column-gap: 24px;
    }

    .footer-logo {
        justify-content: left;
    }
    .footer-text {
        width: 264px;
        text-align: left;
    }

    .footer-soc-title {
        text-align: left;
    }
    .subscribe-form {
        display: flex;
        gap: 24px;
    }

    .subscribe-title {
        text-align: left;
    }

    .modal {
        width: 408px;
        min-height: 584px;
    }
}

    @media screen and (min-width: 1200px) {
    .header-logo {
        margin-right: 76px;
    }

    .header-navigation {
        margin-right: auto;
    }
    
    .header-contact {
        font-size: 16px;
    }

    .header-list {
        display: flex;
        gap: 40px;
    }
    
    .contact-list {
        display: flex;
        gap: 40px;
    }

    .contact-item {
        max-width: 1199px;
        margin-bottom: 0;
    }

    .hero {
        padding: 188px 0;
        background-image: linear-gradient(
        rgba(46, 47, 66, 0.7),
        rgba(46, 47, 66, 0.7)
        ),
    url(../images/hero-bg/hero-bg-des-1x.jpg);
    max-width: 1440px;
    }

    @media (min-device-pixel-ratio: 2),
    (min-resolution: 192dpi),
    (min-resolution: 2dppx) {
    .hero {
      background-image: linear-gradient(
        rgba(46, 47, 66, 0.7),
        rgba(46, 47, 66, 0.7)
    ), url(../images/hero-bg/hero-bg-des-2x.jpg);
    }
    }

    .hero-title {
        margin-bottom: 48px;
    }
 
    .advantages {
        padding-top: 120px;
        padding-bottom: 120px;
    }

    .advantages-item {
        width: 264px;
    }

    .advantages-subtitle {
        font-weight: 500;
        font-size: 20px;
        line-height: 1.2;
    }

    .advantages-text {
        font-weight: 400;
    }

    .advantages-list {
        flex-wrap: nowrap;
    }

    .advantages-link {
        height: 112px;
        background: var(--backgrounds-color);
        border-radius: 4px;
        display: flex;
        justify-content: center;
        align-items: center;
        margin-bottom: 8px;
    }

    .examples-title {
        font-weight: 700;
        font-size: 36px;
        line-height: 1.11;
        text-align: center;
        letter-spacing: 0.02em;
        text-transform: capitalize;
        color: var(--primery-text-color);
        margin-bottom: 72px;
    }
    
    
    .examples-list {
        padding-bottom: 120px;
    }
    
    .examples-list {
        display: flex;
        gap: 24px;
    }

    .team-item {
        flex-basis: calc((100% - 90px)/4);
    }

    .customers {
        padding: 120px 0;
    }

    .customers-item {
        flex-basis: calc((100% - 120px)/6);
    }

    .footer {
        padding: 100px 0;
    }

    .footer-wrap {
        flex-wrap: nowrap;
        gap: 0;
    }

    .footer-soc {
        margin-left: 120px;
    }
    
    .footer-subscribe {
        margin-left: 80px;
    }

    .modal {
        min-height: 584px;
    }

}

/*======PORTFOLIO========*/

.menu-btn {
    font-family: inherit;
    font-weight: 500;
    font-size: 16px;
    line-height: 1.5;
    letter-spacing: 0.04em;
    cursor: pointer;
    color: var(--tertiary-text-color);
    background: var(--backgrounds-color);
    border: none;
    padding: 12px 24px;
    border-radius: 4px;
    transition: background, color, box-shadow 250ms cubic-bezier(0.4, 0, 0.2, 1);
}

.menu-btn:hover,
.menu-btn:focus {
    background: var(--primery-link-color);
    color: var(--accent-color);
    box-shadow: 0px 3px 1px rgba(0, 0, 0, 0.1), 0px 2px 1px rgba(0, 0, 0, 0.08), 0px 2px 2px rgba(0, 0, 0, 0.12);
}

.portfolio-subtitle {
    font-weight: 500;
    font-size: 20px;
    line-height: 1.2;
    letter-spacing: 0.02em;
    color: var(--primery-text-color);
    margin-bottom: 8px;
}

.portfolio-text {
    line-height: 1.5;
    letter-spacing: 0.02em;
    color: var(--secondary-text-color);
}

.portfolio-list {
    display: flex;
    flex-wrap: wrap;
    row-gap: 48px;
    column-gap: 24px;
    margin-top: 72px;
}

.portfolio-item {
    background: var(--accent-color);
    transition: box-shadow 250ms cubic-bezier(0.4, 0, 0.2, 1);
}

.portfolio-item:hover, 
.portfolio-item:focus {
    box-shadow: 0px 1px 6px rgba(46, 47, 66, 0.08), 0px 1px 1px rgba(46, 47, 66, 0.16), 0px 2px 1px rgba(46, 47, 66, 0.08);
}

.portfolio-item:hover .portfolio-top-text {
    transform: translateY(0);
}

.menu-list {
    display: flex;
    gap: 24px;
    justify-content: center;
}

.portfolio-border {
    border: 1px solid var(--cornflower-color);
    border-top: none;
    padding-top: 32px;
    padding-bottom: 32px;
    padding-left: 16px;
}

.portfolio {
    padding-top: 96px;
    padding-bottom: 120px;
}

.portfolio-top-wrap {
    position: relative;
    overflow: hidden;
}

.portfolio-top-text {
    position: absolute;
    top: 0;
    padding: 40px 32px;
    line-height: 1.5;
    letter-spacing: 0.02em;
    color: var(--backgrounds-color);
    background-color: rgba(77, 90, 229, 1);
    height: 100%;
    transform: translateY(100%);
    transition: transform 250ms cubic-bezier(0.4, 0, 0.2, 1);
}